body{
  background-color: lightblue;
  background-position: center;
  font-family: 'verdana', Sans-serif;
  font-size: 20px;
  text-align: center;
  width: 950px;
  padding: 0px;
  margin: 0 auto;
}

p{
  font-size: 18px;
  font-style: normal;
  font-family: 'Arial', Sans-serif; 
}

div{
  background-color: #4B0082;
}
h1{
    color: red;
    font-size: 20px;
    font-size: 50px;
    font-style: normal; 
}

#img{
  border: 1px solid #ddd;
  max-width: 100%;
  border-radius: 100%;
  color: #A52A2A; /* Brown */
}
.table{
    font-family: 'Console', Monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    text-align: center;
    overflow: hidden;
}
th{
  border: 2px solid yellow;
  text-align: center; 
  font-family: 'Lucida', monospace; 
  font-size: 18px;
  height: 50px;
  background-color: #FFC0CB; /* pink */
  padding: 10px;
}

td{
  border: 1px solid yellow;
  font-family: 'Lucida', Monospace;
  font-size: 16px;
  text-align: center;
  padding:10px;
  background-color: #F5F5F5; /* White Smoke */
}

tr:hover td{
  background-color: 	#DDA0DD;  /* Plum */
  border: 2px solid yellow;
  color: 	#FFFFFF; /* White */ 
}
th{
  text-decoration: underline;
}
